@media screen and (max-width: 1080px) { 
	#content-box {
		margin-left: auto !important;
		margin-right: auto !important;
		position: static !important;
		top: 0px !important;
		padding-bottom: 15px;
		width: 480px !important;
	}
	p { 
		font-size: 1.7em; 
	}

	.main-heading {
		font-size: 4em;
	}

	h3 {
		font-size: 2.5em;
	}
}

html { 
  background: url(../images/nyc-aerial.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#content-box {
	font-family: OyEsta, EstaPro, Georgia, serif;
	top: 0px;
    background-color: #FFFFFF;
    opacity: 0.9;
    display: block;
    height: auto;
    width: 360px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
	margin-left: 100px;
	position: absolute;
}

p {
	font-family: OyAkkurat, Akkurat Pro, Arial, sans-serif;
}

.main-heading {
	margin-top: 2px;
	margin-bottom: 0px;
	font-size: 3em;
	text-align: center;
	color: #FE3300;
	font-family: OyAkkurat, Akkurat Pro, Arial, sans-serif;
	font-weight: 300;
}

h3 {
	margin-top: 2px;
	margin-bottom: 0px;
	font-size: 1.7em;
	text-align: center;
	font-family: OyAkkurat, Akkurat Pro, Arial, sans-serif;
	font-weight: 300;
}


a {
	color: #2200CC;
	text-decoration: None;
	font-weight: bold;
}